---
#Language:      Cpp
BasedOnStyle: LLVM
#AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
#AllowShortLoopsOnASingleLine: false
#AllowShortFunctionsOnASingleLine: false
UseTab: Always
BreakBeforeBraces: Linux
IndentWidth: 8
#AccessModifierOffset: 0
ColumnLimit: 120
IndentCaseLabels: false
...

